h1{
    color: brown;
    margin: 40px;
    background-image: url(fondo.jpg);
    height: 100px;
    text-align: center;
}

h2{
color: #808080;
font-size: medium;

}

.container{
    justify-content: center;
}

